'.source.scss':
  'Frontendler':
    'prefix': 'animations'
    "leftLabelHTML": "mixin"
    'description': 'Include all keyframes listed in $animations-keyframes list.'
    "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
    'body': '@include animations;'

'.source.sass':
  'Frontendler':
    'prefix': 'animations'
    "leftLabelHTML": "mixin"
    'description': 'Include all keyframes listed in $animations-keyframes list.'
    "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
    'body': '+animations'
