'.source.scss':
  'Frontendler':
    'prefix': 'animation-keyframes'
    "leftLabelHTML": "var"
    'description': 'Default value of $animations-keyframes.'
    "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
    'body': """
        $animation-keyframes:(
        	"fade-in",
        	"fade-out",
        	"bounce-in-down",
        	"bounce-in-up",
        	"rubber-band",
        	"zoom-in",
        	"slide-in-up",
        	"slide-in-down",
        	"alert"
        );
    """
