'.source.scss':
  'Frontendler':
    'prefix': 'grid-breakpoint'
    "leftLabelHTML": "mixin()"
    "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
    'body': """
        @include grid-breakpoint("${1:breakpoints}") {
            ${2://your css}
};
    """

'.source.sass':
    'Frontendler':
      'prefix': 'grid-breakpoint'
      "leftLabelHTML": "mixin()"
      "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
      'body': """
          +grid-breakpoint("${1:breakpoints}")
              ${2://your css}
      """