'.source.scss':
  'Frontendler':
    'prefix': 'grid-breakpoint'
    'body': """
        @include grid-breakpoint("${1:breakpoints}") {
            ${2://your css}
};
    """

'.source.sass':
    'Frontendler':
      'prefix': 'grid-breakpoint'
      'body': """
          @include grid-breakpoint("${1:breakpoints}")
              ${2://your css}
      """