'.source.scss':
  'Frontendler':
    'prefix': 'grid-breakpoints'
    'body': """
        $grid-breakpoints:(
        	"xsmall": 100% max 600px,
        	"small":  100% min 601px max 960px,
        	"medium": 100% min 961px max 1280px,
        	"large":  1280px min 1281px max 1600px,
            "xlarge": 1600px min 1601px
        )
    """
