'.source.scss, .source.sass':
  'Frontendler':
    'prefix': 'grid-gutter'
    "leftLabelHTML": "var"
    'description': 'Space between columns in grid system'
    "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
    'body': '$grid-gutter'
    
    
