'.source.scss':
  'Frontendler':
    'prefix': 'grid-column-breakpoint'
    "leftLabelHTML": "mixin()"
    "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
    'body': '@include grid-column-breakpoint("${1:breakpoint}",${2:flex},${3:gutter});'

'.source.sass':
  'Frontendler':
    'prefix': 'grid-column-breakpoint'
    "leftLabelHTML": "mixin()"
    "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
    'body': '+grid-column-breakpoint("${1:breakpoint}",${2:flex},${3:gutter});'
