'.source.scss':
  'Frontendler':
    'prefix': 'grid-column'
    'body': '@include grid-column(${1:flex},${2:gutter});'

'.source.sass':
  'Frontendler':
    'prefix': 'grid-column'
    'body': '+grid-column(${1:flex},${2:gutter});'
