'.source.scss':
  'Frontendler':
    'prefix': 'box-shadow'
    "leftLabelHTML": "mixin()"
    "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
    'body': '@include box-shadow(${1:level});'
    
'.source.sass':
  'Frontendler':
    'prefix': 'box-shadow'
    "leftLabelHTML": "mixin()"
    "descriptionMoreURL": "https://www.npmjs.com/package/frontendler-sass"
    'body': '+box-shadow(${1:level})'

